h1{
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
a{
    color: greenyellow;
    display: block;
    text-align: center;
}
label{
    align-items: center;
    text-align: center;
    font-family: fantasy;
    color: hotpink;
}
input{
    display: block;
    padding: 10px;
    text-align: center;
    border:peru;
    text-align: center;
    color: lightgoldenrodyellow;
    font-family: monospace;
}
img{
    text-align: center;
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    height: 45%;
    width: 40%;
    border-radius: 15px;
}